#environment
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
build/
dist/
downloads/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
